

.topLargeAdElementContainer {
  /* display: flex; */
  justify-content: center;
  text-align: left;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  .topLargeAdElementContainer {
    display: none;
  }
}

@media (max-width: 480px) {
  .topLargeAdElementContainer {
    display: none;
  }
}