.listElement {
  margin-top: 1rem;
  /* cursor: pointer */
}

.listElementContent {
  font-weight: bolder;
}

.buttonSmall {
  text-align: right;
  font-size: 0.75rem;
  font-weight: bolder;
}

.groupInfoNameContainer {
  display: flex;
  align-items: center;
}

.groupInfoName {
  margin-right: 0.25rem;
}