.bodyContainer {
  /* margin-top: 2rem; */
}

.adLink {
  text-decoration: none;
  color: var(--color);
}

.body300x65Container {
  width: 300px; 
  height: 65px;
  border: 0.5px solid gray; 
  display: flex; 
  justify-content: space-between;
  margin-bottom: 1rem;
}

.body300x65Text {
  width: 235px;
  height: 100%; 
  overflow:hidden; 
  /* padding:  */
}

.body300x65TextContents {
  display:flex; 
  flex-direction:column; 
  justify-content: space-between; 
  padding:5px 0 0 10px;
}

.body300x65TextTitle {
  font-size: 16px; 
  font-weight:bold;
  text-align:center;
}

.body300x65TextDescription {
  font-size: 12px; 
  font-weight: bold;
  padding-top: 2px;
}

.body300x65Image {
  width: 65px;
  height:65px;
  object-fit: cover;
}

.body300x300Container {
  width: 300px; 
  margin-bottom: 1rem;
}

.body300x300Image {
  width: 300px;
  height: 300px;
  /* border: 0.5px solid gray; */
  object-fit: cover;
}

.body300x300TextContainer {
  width: 300px;
  height: 60px;
  display: flex;
  flex-direction: column;
  /* border: 0.5px solid rgb(231, 231, 231); */
  border: 0.5px solid gray;
  border-radius: 6px;
  padding: 2px 10px 2px 10px;
  overflow: hidden;
  /* background-color: rgb(238, 238, 238); */
  /* justify-content: space-between; */
}

.body300x300TextTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.body300x300TextDescription {
  font-size: 13px;
  font-weight: bold;
  padding-top: 4px;
}

.bodyInPostContainer {
  width: 100%;
  max-width: 40rem; 
  height: 150px; 
  border: 0.5px solid gray;
  border-radius: 6px;
  overflow: hidden;
  /* display: flex; */
}

.bodyInPostContents {
  display: flex;
}

.bodyInPostImageContainer {
  width: 150px;
  height: 150px;
  /* border: 0.5px solid gray; */
  object-fit: cover;
}

.bodyInPostTextContainer {
  flex-grow: 2;
}

.bodyInPostTextTitle {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 10px 0;
}

.bodyInPostTextDescription {
  font-size: 16px;
  padding: 0 5px;
}

@media (min-width: 480px) {
  .bodyInPostTextTitle {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0 10px 0;
  }
  
  .bodyInPostTextDescription {
    font-size: 22px;
    padding: 0 20px;
  }
}